body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #f3f7f9;
	padding-bottom: 60px;
}

.container {
	width: 940px;
 	padding: 0 180;
  	margin: 0 auto;
}

.order-navigation {
	background-color: #f1f5f7;
	margin-bottom: 60px;
}

.order-navigation-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	font-family: Cuprum;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;	
}

.order-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #293449;
	margin-bottom: 28px;
}

.order-navigation-list a {
	display: block;
	padding: 14px 21px;
	vertical-align: middle;
}

.order-navigation-list a,
.site-navigation-list a {
	color: #ffffff;
}

.order-navigation-list li {
	
}

.order-navigation-list .search {
	position: relative;
	padding-left: 50px;
	padding-right: 155px;
}

.order-navigation-list a:hover,
.order-navigation-list a:focus {
	background-color: #212a3a;
}

.order-navigation-list .search::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 20px;
	width: 17px;
	height: 17px;
	background-image: url("img/icon-search.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
  	background-color: red;
}

.order-navigation-list .search:hover::before,
.order-navigation-list .search:focus::before,
.order-navigation-list .bookmarks:hover::before,
.order-navigation-list .bookmarks:focus::before,
.order-navigation-list .basket:hover::before,
.order-navigation-list .basket:focus::before {
	opacity: 1;
}

.order-navigation-list .search:active::before,
.order-navigation-list .bookmarks:active::before,
.order-navigation-list .basket:active::before {
	opacity: 0.3;
}

.order-navigation-list .search:active,
.order-navigation-list .bookmarks:active {
	background-color: #161d29;
}

.order-navigation-list .bookmarks {
	position: relative;
	padding-left: 50px;
	margin-left: 18px;	
}

.order-navigation-list .bookmarks::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 20px;
	width: 14px;
	height: 16px;
	background-image: url("img/icon-bookmarks.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
  	background-color: red;
}

.order-navigation-list .basket {
	position: relative;
	padding-left: 50px;
	margin-left: 10px;
}

.order-navigation-list .basket::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 20px;
	width: 15px;
	height: 15px;
	background-image: url("img/cart-icon.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
  	background-color: red;
}

.logo {
	display: block;
	padding: 12px 55px;
	vertical-align: middle;
	margin-left: 322px;
	width: 110px;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	background-color: #ee3643;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.i-shop {
	color: #ee3643;
	font-family: Cuprum;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;

}

.telephone {
	position: relative;
	color: #ee3643;
	font-family: Cuprum;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 11px;
	padding-left: 72px;
	padding-right: 52px;
	margin-top: 7px;
	border: 3px solid #ffffff;
}

.telephone::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 20px;
	width: 19px;
	height: 19px;
	background-image: url("img/phone.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.5;
  	background-color: red;
}

.company-adress {
	margin: 0;
	margin-top: -18px;
	padding: 0;
	padding-left: 10px;
	color: #32425c;
	font-family: Cuprum;
}

.user-navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: 66px;
	margin-top: 10px;
}

.user-navigation-list a {
	display: block;
	vertical-align: middle;
	font-family: Cuprum;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.user-navigation-list a:hover,
.user-navigation-list a:focus {
	color: #ee3643;
}

.user-navigation-list a:active {
	color: #b8b8b8;
}

.user-navigation-list .login-link {
	position: relative;
	padding-left: 48px;
	padding-right: 27px;
	padding-top: 14px;
	padding-bottom: 15px;
	background-color: #ffffff;
}

.user-navigation-list .login-link::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 20px;
	width: 20px;
	height: 17px;
	background-image: url("img/icon-login.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
  	background-color: red;
}

.user-navigation-list .login-link:hover::before,
.user-navigation-list .login-link:focus::before {
	opacity: 1;
} 

.user-navigation-list .registration-link {
	padding-left: 21px;
	padding-right: 22px;
	padding-top: 14px;
	padding-bottom: 15px;
	margin-left: 10px;
	background-color: #ffffff;
}


.order-navigation-list .current {
	background-color: #63a63e;
	margin-left: 8px;
}

.order-navigation-list .current:hover,
.order-navigation-list .current:focus {
	background-color: #5fbb2d;
}

.order-navigation-list .current:active {
	color: #8bae78;
	background-color: #518534;
}


.site-navigation-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: Cuprum;
	font-size: 17px;
	font-weight: 400;
	line-height: 17px;
	box-shadow: inset 0 -5px 0 #293449;
	background-color: #32425c;
}

.site-navigation-list a {
	display: block;
	padding: 22px 33px;
	vertical-align: middle;
}

.site-navigation-list .contacts {
	padding-right: 40px;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus {
	background-color: #293449;
}

.site-navigation-list a:active {
	color: #878c96;
	background-color: #1d2739;
}

.adress-and-registration {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 23px;
}

.i-shop {
	width: 200px;
	margin-left: 55px;
}

.adress {
	margin-left: 65px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

