body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #f3f7f9;
	padding-bottom: 2px;
	margin-bottom: 60px;
}

.container {
	width: 940px;
 	padding: 0 180;
  	margin: 0 auto;

}

.header-top {
	background-color: #293449;
	margin-bottom: 30px;
}

.order-navigation {
	background-color: #f1f5f7;
	margin-bottom: 60px;
}

.order-navigation-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	font-family: Cuprum;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;	
}

.main-header .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
}

.order-navigation-list a {
	display: block;
	padding: 14px 21px;
	vertical-align: middle;
}

.order-navigation-list a,
.site-navigation-list a {
	color: #ffffff;
}

.order-navigation-list li {
	
}

.order-navigation-list .search {
	position: relative;
	padding-left: 50px;
	padding-right: 155px;
}

.order-navigation-list a:hover,
.order-navigation-list a:focus {
	background-color: #212a3a;
}

.order-navigation-list .search::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 20px;
	width: 17px;
	height: 17px;
	background-image: url("../img/icon-search.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
  	background-color: red;
}

.order-navigation-list .search:hover::before,
.order-navigation-list .search:focus::before,
.order-navigation-list .bookmarks:hover::before,
.order-navigation-list .bookmarks:focus::before,
.order-navigation-list .basket:hover::before,
.order-navigation-list .basket:focus::before {
	opacity: 1;
}

.order-navigation-list .search:active::before,
.order-navigation-list .bookmarks:active::before,
.order-navigation-list .basket:active::before {
	opacity: 0.3;
}

.order-navigation-list .search:active,
.order-navigation-list .bookmarks:active {
	background-color: #161d29;
}

.order-navigation-list .bookmarks {
	position: relative;
	padding-left: 46px;
	
}

.order-navigation-list .bookmarks::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 20px;
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-bookmark.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
}

.order-navigation-list .basket {
	position: relative;
	padding-left: 46px;
	margin-left: 10px;
}

.order-navigation-list .basket::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 16px;
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-cart.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
}

.logo {
	display: block;
	padding-top: 10px;
	padding-bottom: 12px;
	padding-right: 55px;
	padding-left: 55px;
	vertical-align: middle;
	width: 110px;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	background-color: #ee3643;
	border-bottom: 5px solid rgba(0, 0, 0, 0.24); 
	margin-bottom: -5px;
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.search-form input[type="search"] {
	padding-left: 49px;
	padding-right: 62px;
	padding-top: 12px;
	padding-bottom: 13px;
	background-color: #293449;
	border: none;
	background-image: url("../img/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 7% 41%;
	border: none;
}

.search-form input::placeholder {
	color: white;
}

.search-form input[type="search"]:focus {
	color: #555555;
	background-color: #ffffff;
	font: inherit;
}

.i-shop {
	color: #ee3643;
	font-family: Cuprum;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;

}

.telephone {
	position: relative;
	color: #ee3643;
	font-family: Cuprum;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 11px;
	padding-left: 72px;
	padding-right: 52px;
	margin-top: 7px;
	border: 3px solid #ffffff;
}

.telephone::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 20px;
	width: 25px;
	height: 25px;
	background-image: url("../img/icon-phone.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.5;
}

.company-adress {
	margin: 0;
	margin-top: -18px;
	padding: 0;
	padding-left: 13px;
	color: #32425c;
	font-family: Cuprum;
}

.user-navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: 66px;
	margin-top: 10px;
}

.user-navigation-list a {
	display: block;
	vertical-align: middle;
	font-family: Cuprum;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.user-navigation-list a:hover,
.user-navigation-list a:focus {
	color: #ee3643;
}

.user-navigation-list a:active {
	color: #b8b8b8;
}

.user-navigation-list .login-link {
	position: relative;
	padding-left: 48px;
	padding-right: 27px;
	padding-top: 14px;
	padding-bottom: 15px;
	background-color: #ffffff;
}

.user-navigation-list .login-link::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 20px;
	width: 20px;
	height: 17px;
	background-image: url("../img/icon-login.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
}

.user-navigation-list .login-link:hover::before,
.user-navigation-list .login-link:focus::before {
	opacity: 1;
} 

.user-navigation-list .registration-link {
	padding-left: 25px;
	padding-right: 22px;
	padding-top: 14px;
	padding-bottom: 15px;
	margin-left: 10px;
	background-color: #ffffff;
}


.order-navigation-list .current {
	background-color: #63a63e;
	margin-left: 9px;
}

.order-navigation-list .current:hover,
.order-navigation-list .current:focus {
	background-color: #5fbb2d;
}

.order-navigation-list .current:active {
	color: #8bae78;
	background-color: #518534;
}


.site-navigation-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: Cuprum;
	font-size: 17px;
	font-weight: 400;
	line-height: 17px;
	box-shadow: inset 0 -5px 0 #293449;
	background-color: #32425c;
}

.site-navigation-list a {
	display: block;
	padding: 22px 33px;
	vertical-align: middle;
}

.site-navigation-list .contacts {
	padding-right: 40px;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus {
	background-color: #293449;
}

.site-navigation-list a:active {
	color: #878c96;
	background-color: #1d2739;
}

.adress-and-registration {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 23px;
}

.i-shop {
	width: 200px;
	margin-left: 52px;
}

.adress {
	margin-left: 65px;
}


.col-1 {
	box-sizing: border-box;
	flex: 0 0 8.3333%;
	max-width: 8.3333%;
	padding: 0 10px;
}

.col-2 {
	box-sizing: border-box;
	flex: 0 0 8.3333%;
	max-width: 8.3333%;
	padding: 0 10px;
}

.col-3 {
	box-sizing: border-box;
	flex: 0 0 25%;
	max-width: 25%;
	padding: 0 10px;
}

.col-4 {
	box-sizing: border-box;
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 0 10px;
	margin-bottom: 20px;
}

.col-6 {
	box-sizing: border-box;
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.col-8 {
	box-sizing: border-box;
	flex: 0 0 66.66%;
	max-width: 66.66%;
	padding: 0 10px;
	margin-bottom: 20px;
}

.col-9 {
	box-sizing: border-box;
	flex: 0 0 75%;
	max-width: 75%;
	padding: 0 10px;
	margin-bottom: 20px;
}

.category {
	background-color: yellow;
	padding-bottom: 23px;
	padding-left: 23px;
}

.category h3 {
	margin: 0;
	margin-bottom: 12px;
	padding-top: 20px;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	
}

.category a {
	display: block;
	width: 135px;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 10px 0px;
	text-align: center;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	border-radius: 2%;
	background-color: rgba(0, 0, 0, 0.1);
}

.category a:hover,
.category a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.category a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.materials {
	background-image: url('../img/materials.png');
	background-repeat: no-repeat;
	background-position: 76% 50%;
	background-size: cover;
}

.instrument {
	background-image: url('../img/instrument.png');
	background-repeat: no-repeat;
	background-position: 76% 50%;
	background-size: cover;
}

.for-building {
	background-image: url('../img/for_building.png');
	background-repeat: no-repeat;
	background-position: 76% 50%;
	background-size: cover;
}

.discounts {
	margin-bottom: 20px;
	background-image: url('../img/discounts.png');
	background-repeat: no-repeat;
	background-position: 76% 50%;
	background-size: cover;
}

.delivery {
	background-image: url('../img/delivery.png');
	background-repeat: no-repeat;
	background-position: 76% 50%;
	background-size: cover;
}

.first {
	background-image: url('../img/drills.jpg');
	background-repeat: no-repeat;
	background-position: 76% 50%;	
}

.second {
	background-image: url('../img/puncher.jpg');
	background-repeat: no-repeat;
	background-position: 76% 50%;	
}

.slide-item {
	padding-top: 23px;
	padding-left: 26px;
	padding-bottom: 21px;
	background-color: grey;
}

.slide-item h3 {
	margin: 0;
	margin-bottom: 2px;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
}

.slide-item p {
	margin: 0;
	margin-bottom: 120px;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.slide-link {
	display: block;
	padding: 11px 0;
	width: 195px;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ee3643;
}

.slide-link:hover,
.slide-link:focus {
	background-color: #ca2c37;
}

.slider-link:active {
	background-color: #ba2732;

}

.goods-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.popular {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 16px;
	margin-top: 3px;
	padding-left: 30px;
	padding-right: 24px;
	background-color: #f9f5f0;
}

.popular h3 {
	margin-top: 31px;
	color: #32425c;
	font-family: Cuprum;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}

.popular a {
	display: block;
	vertical-align: middle;
	padding: 10px 0;
	margin-left: auto;
	margin-top: 3px;
	color: #ffffff;
	width: 253px;
	text-align: center;
	background-color: #ee3643;
	border-radius: 2px;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.goods-list-item {
	position: relative;
	width: 220px;
	margin-bottom: 17px;
	border: 1px solid #eaeaea;
	text-align: center;
	min-height: 318px;

}

.goods-list-item:hover {

	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.goods-list-item:hover .buttons {
	display: block;

}

.first-price {
	margin: 0;
	margin-bottom: 20px;
	color: #a9a9a9;
	font-family: "PT Sans";
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	text-decoration: line-through;
	text-transform: uppercase;
}

.goods-list-item h3 {
	margin: 0;
	margin-bottom: 10px;
	color: #000000;
	font-family: "PT Sans";
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
}

.goods-list-item img {
	margin-bottom: 5px;
	margin-left: -6px;
	margin-top: 6px;
}

.last-price {
	margin:0;
	color: #ffffff;
	font-family: "PT Sans";
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
}

.last-price:after {
	position: absolute;
	content: "";
	top: 260px;
	left: 43px;
	width: 145px;
	height: 40px;
	background-image: url("../img/red-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: -1;
} 

.new .last-price {
	margin-top: 47px;
}

.new .last-price:before {
	position: absolute;
	content: "";
	top: 2px;
	right: -9px;
	width: 70px;
	height: 70px;
	background-image: url("../img/new_flag.png");
	background-repeat: no-repeat;
	background-position: 0 0;
} 

.buttons {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;

}

 
.button {
	padding: 10px 0;
	text-align: center;
	box-sizing: border-box;
	min-width: 135px;
	margin-bottom: 2px;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.to-buy {
	position: relative;
	margin-bottom: 7px;
	color: #ffffff;
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;
	border-radius: 3px;
	border: none;
}

.to-buy::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 16px;
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-cart.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
}

.to-buy:hover::before,
.to-buy:focus::before,
.to-buy:active::before {
	opacity: 1;
}

.to-buy:hover,
.to-buy:focus {
	background-color: #5fbb2d;
}

.to-buy:active {
	background-color: #518534;
}

.to-bookmarks {
	color: #32425c;
	background-color: #ffffff;
	border: 3px solid #63a63e;
	padding: 7px 0;
}

.to-bookmarks:hover,
.to-bookmarks:focus {
	border: 3px solid #32425c;
}

.to-bookmarks:active {
	border: 3px solid #32425c;
	opacity: 0.3;
}

.producers-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.producers-item {
	display: block;
	margin-bottom: 16px;
}

.producers-item:hover,
.producers-item:focus {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.producers-item:active {
	box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-top {
	background-color: #32425c;
}

.footer-bottom {
	background-color: #293449;
}

.footer-adress {
	width: 482px;
	
}

.footer-adress p {
	margin: 0;
	margin-left: 3px;
	margin-bottom: 48px;
	color: #f1f5f7;
	font-family: Cuprum;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.footer-adress img {
	margin-bottom: 20px;

}

.footer-navigation {
	display: flex;
	flex-wrap: wrap;
}

.footer-top .container {
	display: flex;
}

.first-list-container {
	width: 100%;
}

.second-list-container {
	width: 100%;
}

.first-navigation-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 39px;
}

.second-navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: -30px;
	margin-left: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.second-navigation-list li:nth-child(1) {
	margin-left: 9px;
}

.first-navigation-list a {
	display: block;
	color: #f1f5f7;
	font-family: Cuprum;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;

}

.first-navigation-list a:focus,
.first-navigation-list a:hover {
	text-decoration: underline;
}

.first-navigation-list a:active {
	color: #4c5a70;
}

.second-navigation-list a {
	display: block;
	color: #ffd180;
	font-family: Cuprum;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.second-navigation-list a:focus,
.second-navigation-list a:hover {
	text-decoration: underline;
}

.second-navigation-list a:active {
	color: #767268;
}

.copyright {
	margin-top: 39px;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.footer-social-list {
	padding: 0;
	margin: 0;
	margin-right: 27px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
  	min-height: 113px;
	
}


.footer-social-item {
	display: flex;
	align-items: center;
  	justify-content: center;
	width: 41px;
	height: 42px;
	border-radius: 50%;
	background-color: #212a3a;
}

.footer-social-item:hover,
.footer-social-item:focus {
	background-color:#ee3643;
}


.footer-social-item:active {
	background-color:#ee3643;
}

.feedback,
.developed {
	color: #ffffff;
	font-family: Cuprum;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.feedback a,
.developed a {
	color: #ffd180;
	
}

.feedback span,
.developed span {
	display: block;
}

.feedback a:hover,
.feedback a:focus,
.developed a:hover,
.developed a:focus {
	text-decoration: underline;
}

.feedback a:active,
.developed a:active {
	color: #ee3643;
}

.mail-to {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: space-around;
}

.feedback {
	margin-left: -28px;
}

.developed {
	margin-right: -71px;
}

.about-company {
	padding-bottom: 65px;
}

.services {
	margin-bottom: 84px;
	background-color: #f4f7f9;
}

.about-company h3 {
	margin: 0;
	font-family: Cuprum;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 27px;
}

.about-company p {
	font-family: "PT Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 24px;
}

.about-company a {
	display: block;
	vertical-align: middle;
	padding: 10px 0;
	margin-right: auto;
	margin-top: 7px;
	color: #ffffff;
	width: 220px;
	text-align: center;
	background-color: #ee3643;
	border-radius: 2px;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.about-company button {
	display: block;
	box-sizing: border-box;
	width: 300px;
	vertical-align: middle;
	padding: 10px 0;
	margin-right: auto;
	margin-top: 7px;
	color: #ffffff;
	text-align: center;
	background-color: #ee3643;
	border-radius: 2px;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	border: none;
}

.companies-list {
	margin-top: -5px;
	margin-bottom: 37px;
	list-style: none;
	font-family: Cuprum;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
}

.companies-list li {
	position: relative;
	margin-bottom: 21px;
}

.companies-list li:before {
	position: absolute;
	content: "";
	top: 10px;
	left: -40px;
	width: 27px;
	height: 3px;
	background-image: url("../img/red_line.png");
  	background-repeat: no-repeat;
  	background-position: 0 0;
	margin-bottom: 21px;
}

.self-service {
	margin-right: 10px;
	margin-bottom: 28px;
}

.shopping {
	margin-right: 30px;
}

.cooperation {
	margin-right: 178px;
}

.map {
	margin-bottom: 25px;
	margin-top: 7px;
}

.services h3 {
	padding-top: 66px;
	margin-bottom: 26px;
	font-family: Cuprum;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}

.services p {
	width: 427px;
	font-family: "PT Sans";
	font-weight: 400;
	line-height: 24px;
	font-size: 13px;
}

.tab-list {
	position: relative;
	list-style: none;
	width: 108%;
	padding: 0;
	margin: 0;
	margin-top: 55px;
	margin-bottom: 100px;
	box-shadow: inset 0 -1px 0 #33445a;
}

.tab-list::after {
	position: absolute;
	content:"";
	top: 0px;
	left: 228px;
	width: 15px;
	height: 270px;
	background-image: url("../img/shadow.png");
	background-repeat: no-repeat;
	background-position: 0 0;

}

.tab-link {
	display: block;
	padding: 15px 23px;
	padding-right: 215px;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 21px;
	font-weight: 700;
	line-height: 30px;
	vertical-align: middle;
	background-color: #32425c;
	border-bottom: 1px solid #4e637c;
}

.tab-link:focus,
.tab-link:hover {
	background-color: #293449;
}

.tab-link.current {
	color: #32425c;
	background-color: #ffffff;
	border: none;
}

.slick-prev:before, 
.slick-next:before {
    width: 50px;
    height: 50px;
    background-image: url("../img/icon-left.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0;
}

.slides-item:not(.current) {
	display: none;
}

.producers {
	margin-bottom: 57px;
}

.main-tab {
	margin-left: 80px;
}

.main-tab h3 {
	color: #32425c;
	font-family: Cuprum;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: -9px;
	margin-bottom: 28px;
}

.main-tab p {
	width: 385px;
}

.main-tab .short {
	width: 307px;
}

#tab-1 {
	background-image: url("../img/tab_1.png");
	background-repeat: no-repeat;
	background-position: 99% -214%;
}

.breadcrumbs a {
	display: block;
	vertical-align: middle;
	color: #000000;
	font-family: "PT Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.breadcrumbs-current {
	color: #000000;
	font-family: "PT Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: -38px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;

}

.breadcrumbs li:first-child {
	position: relative;
	padding-left: 54px;
}

.breadcrumbs li:first-child::before {
	position: absolute;
	content: "";
	top: 1px;
	left: 28px;
	width: 10px;
	height: 15px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs li:first-child::after {
	position: absolute;
	content: "";
	top: 1px;
	left: -3px;
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-home.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs li:nth-child(2) {
	position: relative;
	padding-left: 39px;
}

.breadcrumbs li:nth-child(2)::before {
	position: absolute;
	content: "";
	top: 1px;
	left: 18px;
	width: 10px;
	height: 15px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs li:nth-child(3) {
	position: relative;
	padding-left: 43px;
}

.breadcrumbs li:nth-child(3)::before {
	position: absolute;
	content: "";
	top: 1px;
	left: 18px;
	width: 10px;
	height: 15px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.main-catalog h1 {
	margin: 0;
	margin-bottom: 20px;
	padding: 29px 29px;
	color: #32425c;
	font-family: Cuprum;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	background-color: #f2f6f8;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin: 50px auto; 
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 159px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  vertical-align: center;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.max-price {
  text-align: right;
}

.pagination-container {

  margin-bottom: 20px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  text-align: center;
  vertical-align: middle;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 10px;
}

.pagination-item a {
display: flex;
width: 38px;
height: 38px;
align-items: center;
justify-content: center;
  color: #000000;
font-family: "PT Sans";
font-size: 13px;
font-weight: 400;
line-height: 18px;
text-transform: uppercase;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5%;
  border: 1px solid #e5e5e5;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination-item.next a {
  padding: 16px 80px;
}

.pagination-item-current {
	color: #fac9cd;
	background-color: #ee3643;
	border: none;
}

.about-punchers {
	padding-left: 136px;
	padding-top: 88px;
	padding-bottom: 73px;
	background-color: #f2f6f8;
}

.about-punchers h2 {
	margin: 0;
	font-family: Cuprum;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 26px;
}

.about-punchers p {
	font-family: "PT Sans";
	font-weight: 400;
	line-height: 24px;
}

.filter-group {
	margin: 0;
	padding: 0;
	padding-left: 35px;
	list-style: none;

}


.filter-group label {
	font-family: "PT Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}

.filter-group li {
	margin-bottom: 16px;
}

.filter-item .legend {
	margin-bottom: 25px;
	font-family: "PT Sans";
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.05px;
}

.modal {
	position: fixed;
	background-color: #ffffff;
}

.modal-login-cart {
	display: none;
	top: 120px;
	left: 50%;
	margin-left: -312px;
	color: #000000;
	width: 626px;
	border-top: 5px solid #ee3643;
	box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.modal-login {
	display: none;
	top: 120px;
	left: 50%;
	margin-left: -312px;
	color: #000000;


	border-top: 5px solid #ee3643;
	box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.modal-close {
	position: absolute;
	top: 8px;
	right: 9px;
	width: 21px;
	height: 21px;
	font-size: 0;
	border: none;
	cursor: pointer;
	background-color: #ffffff;
	background-image: url("../img/icon-close.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.modal-buttons-container {
	background-color: #f1f1f1;
	padding: 37px 80px;
}

.modal-button-container {
	background-color: #f1f1f1;
	padding: 37px 80px;
}

.modal-login-cart p {
	position: relative;
	margin-top: 67px;
	margin-left: 182px;
	margin-bottom: 71px;
	font-family: Cuprum;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
}

.modal-login-cart p::before {
	position: absolute;
	content: "";
	top: -18px;
	left: -100px;
	width: 66px;
	height: 66px;
	background-image: url("../img/icon-mark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.modal-buttons-container button {
	width: 220px;
	padding: 10px 0;
	border: none;
	border-radius: 3%;
	color: #000000;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ffffff;
}

.modal-buttons-container .to-order {
	margin-right: 20px;
	color: #ffffff;
	background-color: #ee3643;
	font-weight: 400;
}

.modal-description {
  margin: 0;
  margin-bottom: 10px;
}

.message-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.modal-description {
    width: 360px;
    margin-bottom: 21px;
}

.letter-text {
    width: 100%;
    margin-bottom: 40px;
}

.log-out-link {
	margin-top: 3px;
	margin-left: 29px;
}

.log-out-link:hover path,
.log-out-link:focus path {
	fill: #32425c;
}

.log-out-link:active path {
	fill: #c5c5c5;
}

.user-navigation-list .log-in-link:hover,
.user-navigation-list .log-in-link:focus {
	color: #000000;
}

.user-navigation-list .log-in-link:active {
	color: #c5c5c5;
}

.authorization {
	display: inline-block;
	margin-right: 10px;

}

.user-navigation-list .log-in-link:hover path,
.user-navigation-list .log-in-link:focus path {
	fill: #32425c;
}

.user-navigation-list .log-in-link:active path {
	fill: #c5c5c5;
}

.my-information a {
	display: block;
	color: #32425c;
	font-family: Cuprum;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: underline;
}

.my-information a:hover,
.my-information a:focus {
	color: #ee3643;
}

.my-information a:active {
	color: #bfc6ce;
}

.my-information a:nth-child(2) {
	margin-left: 10px;
}

.dot {
	width: 4px;
	height: 4px;
	background-color: #32425c;
	border-radius: 50%;
	margin-left: 13px;
	margin-right: 13px;
}

.adress-and-registration.catalog-navigation {
	display: flex;
	flex-wrap: wrap;
}

.my-information {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: 69px;
	margin-top: 18px;
}

.user-navigation-list.user-authorization {
	background-color: #ffffff;
	padding-top: 14px;
	padding-bottom: 11px;
	padding-left: 47px;
	padding-right: 69px;
} 